.nav {
  background-color: #002147;
  color: #fdc800;
}

.brand {
  color: #fdc800;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.brand:hover {
  color: #e6c13c;
  text-decoration: none;
}

.nav .nav-link {
  color: #fdc800;
}

.nav .nav-link:hover {
  color: white;
}


.nav .navbar-toggler {
  border: none;
}

.nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28 255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}


